/* Base */
/** reset **/
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
table{border-spacing: 0px;}
ol li{
    list-style-type:decimal;
    list-style-position:inside;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
h4{16px;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
table {
    padding: 0; 
    line-height: 3rem;
    width: 100%;
  }
  
  table tr {
    border-top: 0px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; 
  }
  
  table tr:nth-child(2n) {
    background-color: #f8f8f8; 
  }
  
  table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 0px; 
  }
  
  table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 0px; 
  }
  
  table tr th :first-child, table tr td :first-child {
    margin-top: 0; 
  }
  
  table tr th :last-child, table tr td :last-child {
    margin-bottom: 0; 
  }